dialog {
    margin       : auto;
    inset        : 0;
    position     : fixed;
    border       : none;
    border-radius: var(--border-radius, 6px);
    overflow     : hidden;
    box-shadow   : 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);

    .title {
        padding    : calc(var(--padding, 1rem) / 2) var(--padding, 1rem);
        background : var(--accent-1, #ff00ae);
        color      : var(--text-color, #ffffff);
        font-weight: bold;
    }

    .content {
        padding: var(--padding, 1rem);
    }

    .footer {
        padding   : calc(var(--padding, 1rem) / 2) var(--padding, 1rem);
        background: var(--grey-0);
        text-align: right;
    }
}

dialog::backdrop {
    background-color: rgb(from var(--accent-1) r g b / 0.3);
    backdrop-filter : blur(var(--blur, 8px));
}