:root {

    --padding      : 1rem;
    --border-radius: 6px;
    --blur         : 8px;
    --box-shadow   : 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.06);

    /* Theme variables ****************************************************************************************/
    --accent-1        : #ff00ae;
    --text-color-light: #ffffff;
    --text-color-dark : #333333;
    --body-background : #f0f2f5;
    --grey-0          : #f0f2f5;
    --grey-1          : #cdcdcd;

    /* Menu variables ****************************************************************************************/
    --menu-background: #ffffff;
    --menu-item-hover: #f0f0f0;
    --menu-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {}